@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
    font-family: 'Poppins', sans-serif;
}

.button.is-small { font-size: .5rem; }

.logo-size {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

.third-width {
    width: 33%;
    height: 100%;
    max-width: none;
    margin: 1vw;
}

.navbar-padding {
    padding-left: 18px;
}

.navbar-width {
    width: 12%;
    height: 100%;
    max-width: none;
    margin: 1vw;
}

.full-height {
    height: 90vh;
}

.full-width {
    width: 100vw ;
}

.no-margin {
    margin: 0px;
}

.custom-margin {
    margin-top: 5px;
}

.navbar-text-margin {
    margin-left: 10px;
}

.entry-rounded-box {
    border-radius: 23px;
}

.navbar-rounded-box {
    border-radius: 12px;
}

.navbar-text {
    font-size: 7px;
    line-height: 1;
    margin-bottom: 4px;
}

.navbar-container-size {
    height: 30px;
}

.medium {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.black {
    font-weight: 900;
    line-height: 1;
}

img {
    margin: 2px;
    width: 15px;
    height: 15px;
}

.navbar-icon {
    width: 11px;
    height: 11px;
}

.navbar-color {
    background-color: #14a0a5;
}

.custom-color {
    background-color: #c1e1e2;
}

.custom-color-2 {
    background-color: #eff5f5;
}