@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


/* Set font */
body {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.button.is-small { 
    font-size: .5rem; 
}

.logo-size {
    width: 80px;
    align-self: center;
    height: auto;
    margin-bottom: 20px;
}

/* Font styles */
.light {
    font-weight: 400;
}

.medium {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.black {
    font-weight: 900;
    line-height: 1;
}

/* Common utility classes */
.full-height {
    height: 90vh;
}

.full-width {
    width: 100vw ;
}

.third-width {
    width: 33%;
    height: 100%;
    max-width: none;
    margin: 1vw;
}

.fill-width {
    width: 100%;
}

/* Common Container Styles */
.large-rounded-box {
    border-radius: 12px;
}

.entry-rounded-box {
    border-radius: 23px;
}

img {
    margin: 2px;
}

/* Custom Colors */
.custom-color {
    background-color: #c1e1e2;
}

.custom-color-2 {
    background-color: #eff5f5;
}

/* Admin Navbar styles */
.navbar {
    height: 100%;
    width: 14%;
    margin: 1vw;
    font-size: 10px;
    background-color: #14a0a5;
    white-space: nowrap;
}

.navbar-active {
    background-color: rgb(250, 250, 250);
}

.navbar-icon {
    width: 13px;
    height: 13px;
}

.navbar span {
    color: white;
    margin-left: 8px;
}

.navbar-active span {
    color: black;
}

.navbar-active img {
    filter: invert(1);
}

.menu-list li *:hover{
    background-color: rgb(80, 132, 136);
}

a.navbar-active:hover, a.navbar-active *:hover {
    background-color: rgb(250, 250, 250);
}

