@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


.button.is-small { font-size: .5rem; }

.custom-width {
    width: 30%;
    height: 100%;
    max-width: none;
    margin: 1vw;
}

.custom-width-2 {
    width: 80%;
    height: 100%;
    max-width: none;
    margin: 1vw;
}

.custom-width-3 {
    width: 12%;
    height: 100%;
    max-width: none;
    margin: 1vw;
}

.full-height {
    height: 90vh;
}

.full-width {
    width: 100vw ;
}

.no-margin {
    margin: 0px;
}

.custom-rounded-box {
    border-radius: 23px; /* Adjust the value to increase or decrease the rounding */
}

img {
    margin: 2px;
}