@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* Set font */
body {
    font-family: 'Poppins', sans-serif;
}

/* Patient side styles */

.centered-container {
  display: flex;
  justify-content: center; 
  width: 100%; 
}

.code-entry {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.field.is-grouped.is-grouped-multiline.time-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.timeslot {
  width: calc(32.333% - 10px); 
  margin-bottom: 1rem;
  margin-right: 0.75rem !important;
}

.button.is-large {
  width: 100%; 
  text-align: center; 
}

.queue-join {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.centered-container > * {
  display: block; 
  text-align: center; 
}

.name-of-patient {
  padding-bottom: 1rem;
}

.practice-details {
  display: block; 
  margin-bottom: 10px; 
}

.custom-padding {
    width: 95vw;
    height: 100vh;
    justify-content: center;
    min-width: 300px;
}

.box {
    all: reset;
}

.practice-details .link {
    display: block; 
    margin-bottom: 10px; 
    font-size: 1.5em;
  }

  .link:hover {
    color: darkblue;
    text-decoration: underline; 
  }

  .button.is-selected {
    background-color: #147a72;
    color: white !important; 
  }

  .button {
    border-color: black;
  }

  .name-of-patient {
    font-size: 1.5em;
    font-weight: 500;
  }

  @media screen and (min-width: 769px) {
    .custom-padding {
      max-width: 70%;
      margin: 0 auto;
    }
  }